.float-end.me-5.mt-3
    = link_to '→再テスト', root_path

.container.mb-5
    %h1.mb-3 AYZANSWERS 
    %h2.mb-5 入試問題

    = link_to new_pastpaper_path do 
        %button.button.button-wide.btn.btn-primary 新しい答えを登録する

    .search-bar 絞り込み検索

    = search_form_for @q, class: 'mb-5' do |f|
        .row.d-flex.justify-content-center
            .form-group
                %label.search-item.mt-4
                    %span 入試区分
                .checkbox.text-left.ms-2.d-flex
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :exam_eq_any , {multiple: true} , 0, nil
                            = "高校入試"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :exam_eq_any , {multiple: true} , 1, nil
                            = "中学入試"
            .form-group
                %label.search-item.mt-4
                    %span 学校名
                .checkbox.text-left.ms-2.d-flex.flex-wrap
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 0, nil
                            = "西南"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 1, nil
                            = "大濠"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 2, nil
                            = "東福岡"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 3, nil
                            = "筑女"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 4, nil
                            = "早稲田佐賀"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 5, nil
                            = "ラ・サール"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 6, nil
                            = "久留米附設"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 7, nil
                            = "青雲"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 8, nil
                            = "弘学館"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 9, nil
                            = "若葉"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 10, nil
                            = "舞鶴"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 11, nil
                            = "中村女子"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 12, nil
                            = "附属"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 13, nil
                            = "上智"
                    .checkbox-default.my-1.mx-3
                        %label
                            = f.check_box :school_name_eq_any , {multiple: true} , 14, nil
                            = "その他"
        .search-done-btn
            = f.submit "絞り込む", class: "btn btn-primary btn-lg"





    -if @limited_pastpapers == Pastpaper.order(:exam).order(:school_name).order(:year)
    -else
        .subject-section
            =render 'commons/pastpaper_box', pastpapers: @limited_pastpapers


    .mt-100
    .juniorhigh.mb-4 入試問題模範解答一覧
    %div
        = render 'commons/pastpaper_list', pastpapers: @pastpapers