= form_with(model: answer, local: true) do |f|
    .form-section.mt-5
        .text-start.mb-3
            = f.label :image, '解答画像', class: "label px-0"
        %div
            = f.file_field :image, multiple: true, class: "form"
    .form-section
        .text-start.mb-3
            = f.label :title, 'タイトル', class: "label px-0"
        %div
            = f.text_field :title, class: "form"
    .form-section
        .text-start.mb-3
            = f.label :memo, '備考', class: "label px-0"
        %div
            = f.text_area :memo, class: "form"
    .form-section
        .text-start.mb-3
            = f.label :grade, '学年', class: "label px-0"
        %div
            = f.select :grade, Answer.grades.map { |k, v| [ I18n.t("enum.grades.#{k}"), k ] }, {}, { class: 'form' }
    .form-section
        .text-start.mb-3
            = f.label :subject, '教科', class: "label px-0"
        %div
            = f.select :subject, Answer.subjects.map { |k, v| [ I18n.t("enum.subjects.#{k}"), k ] }, {}, { class: 'form' }
    .form-section
        .text-start.mb-3
            = f.label :textbook, 'テキスト', class: "label px-0"
        %div
            = f.select :textbook, Answer.textbooks.map { |k, v| [ I18n.t("enum.textbooks.#{k}"), k ] }, {}, { class: 'form' }
    = f.submit '保存', class: 'btn btn-primary button-wide my-5'

= link_to root_path do
    %button.btn.btn-danger.button-wide.mb-5 キャンセル
