.container.mb-5
    %h1 模範解答一覧

    -# = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete'}
    = link_to new_answer_path do 
        %button.button.button-wide.btn.btn-primary 新しい答えを登録する
    .juniorhigh 中学３年生
    .subject-section
        = render 'commons/answer_box', answers: @grade3_answers_japanese
        = render 'commons/answer_box', answers: @grade3_answers_math
        = render 'commons/answer_box', answers: @grade3_answers_history
        = render 'commons/answer_box', answers: @grade3_answers_geography
        = render 'commons/answer_box', answers: @grade3_answers_civics
        = render 'commons/answer_box', answers: @grade3_answers_science
        = render 'commons/answer_box', answers: @grade3_answers_english
    .juniorhigh 中学２年生
    .subject-section
        = render 'commons/answer_box', answers: @grade2_answers_japanese
        = render 'commons/answer_box', answers: @grade2_answers_math
        = render 'commons/answer_box', answers: @grade2_answers_history
        = render 'commons/answer_box', answers: @grade2_answers_geography
        = render 'commons/answer_box', answers: @grade2_answers_civics
        = render 'commons/answer_box', answers: @grade2_answers_science
        = render 'commons/answer_box', answers: @grade2_answers_english
    .juniorhigh 中学１年生
    .subject-section    
        = render 'commons/answer_box', answers: @grade1_answers_japanese
        = render 'commons/answer_box', answers: @grade1_answers_math
        = render 'commons/answer_box', answers: @grade1_answers_history
        = render 'commons/answer_box', answers: @grade1_answers_geography
        = render 'commons/answer_box', answers: @grade1_answers_civics
        = render 'commons/answer_box', answers: @grade1_answers_science
        = render 'commons/answer_box', answers: @grade1_answers_english


    .elementary 小学６年生
    .subject-section
        = render 'commons/answer_box', answers: @grade6_answers_japanese
        = render 'commons/answer_box', answers: @grade6_answers_math
        = render 'commons/answer_box', answers: @grade6_answers_history
        = render 'commons/answer_box', answers: @grade6_answers_geography
        = render 'commons/answer_box', answers: @grade6_answers_civics
        = render 'commons/answer_box', answers: @grade6_answers_science
    .elementary 小学５年生
    .subject-section
        = render 'commons/answer_box', answers: @grade5_answers_japanese
        = render 'commons/answer_box', answers: @grade5_answers_math
        = render 'commons/answer_box', answers: @grade5_answers_history
        = render 'commons/answer_box', answers: @grade5_answers_geography
        = render 'commons/answer_box', answers: @grade5_answers_civics
        = render 'commons/answer_box', answers: @grade5_answers_science
    .elementary 小学４年生
    .subject-section
        = render 'commons/answer_box', answers: @grade4_answers_japanese
        = render 'commons/answer_box', answers: @grade4_answers_math
        = render 'commons/answer_box', answers: @grade4_answers_history
        = render 'commons/answer_box', answers: @grade4_answers_geography
        = render 'commons/answer_box', answers: @grade4_answers_civics
        = render 'commons/answer_box', answers: @grade4_answers_science
