= render 'commons/header'

.container.mb-5.mt-3
    %h1.mb-5 再テスト

    = link_to new_answer_path do 
        %button.button.button-wide.btn.btn-primary 新しい答えを登録する

    .search-bar 絞り込み検索

    = search_form_for @q, class: 'mb-5' do |f|
        .row.d-flex.justify-content-center
            .form-group.col-4
                %label.search-item.mt-4
                    %span 学年
                .checkbox.text-left.ms-2
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 3, nil
                            = "中３"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 2, nil
                            = "中２"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 1, nil
                            = "中１"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 6, nil
                            = "小６"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 5, nil
                            = "小５"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 4, nil
                            = "小４"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 7, nil
                            = "中学生共通"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :grade_eq_any , {multiple: true} , 8, nil
                            = "小学生共通"
            .form-group.col-4
                %label.search-item.mt-4
                    %span 教科
                .checkbox.text-left.ms-2
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 1, nil
                            = "国語"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 2, nil
                            = "数学/算数"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 5, nil
                            = "歴史"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 6, nil
                            = "地理"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 7, nil
                            = "公民/社会"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 3, nil
                            = "理科"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 4, nil
                            = "英語"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :subject_eq_any , {multiple: true} , 8, nil
                            = "その他"
            .form-group.col-4
                %label.search-item.mt-4
                    %span テキスト
                .checkbox.text-left.ms-2
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 1, nil
                            = "実力錬成"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 2, nil
                            = "Keyﾜｰｸ"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 3, nil
                            = "必修ﾃｷｽﾄ"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 4, nil
                            = "教科書ﾏｽﾀｰ"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 5, nil
                            = "新ﾜｰｸ"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 8, nil
                            = "予習ｼﾘｰｽﾞ系"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 6, nil
                            = "その他のﾃｷｽﾄ"
                    .checkbox-default.my-1
                        %label
                            = f.check_box :textbook_eq_any , {multiple: true} , 7, nil
                            = "プリント"
        .search-done-btn
            = f.submit "絞り込む", class: "btn btn-primary btn-lg"


    -if @answers == Answer.all.order(:subject)
    -else
        .subject-section
            =render 'commons/answer_box', answers: @answers


    %h1.mt-100 模範解答一覧
    .juniorhigh 中学３年生
    .subject-section
        = render 'commons/answer_box', answers: @grade3_answers_japanese
        = render 'commons/answer_box', answers: @grade3_answers_math
        = render 'commons/answer_box', answers: @grade3_answers_history
        = render 'commons/answer_box', answers: @grade3_answers_geography
        = render 'commons/answer_box', answers: @grade3_answers_civics
        = render 'commons/answer_box', answers: @grade3_answers_science
        = render 'commons/answer_box', answers: @grade3_answers_english
    .juniorhigh 中学２年生
    .subject-section
        = render 'commons/answer_box', answers: @grade2_answers_japanese
        = render 'commons/answer_box', answers: @grade2_answers_math
        = render 'commons/answer_box', answers: @grade2_answers_history
        = render 'commons/answer_box', answers: @grade2_answers_geography
        = render 'commons/answer_box', answers: @grade2_answers_civics
        = render 'commons/answer_box', answers: @grade2_answers_science
        = render 'commons/answer_box', answers: @grade2_answers_english
    .juniorhigh 中学１年生
    .subject-section    
        = render 'commons/answer_box', answers: @grade1_answers_japanese
        = render 'commons/answer_box', answers: @grade1_answers_math
        = render 'commons/answer_box', answers: @grade1_answers_history
        = render 'commons/answer_box', answers: @grade1_answers_geography
        = render 'commons/answer_box', answers: @grade1_answers_civics
        = render 'commons/answer_box', answers: @grade1_answers_science
        = render 'commons/answer_box', answers: @grade1_answers_english

    .juniorhigh 中学生共通
    .subject-section    
        = render 'commons/answer_box', answers: @jh_answers_japanese
        = render 'commons/answer_box', answers: @jh_answers_math
        = render 'commons/answer_box', answers: @jh_answers_history
        = render 'commons/answer_box', answers: @jh_answers_geography
        = render 'commons/answer_box', answers: @jh_answers_civics
        = render 'commons/answer_box', answers: @jh_answers_science
        = render 'commons/answer_box', answers: @jh_answers_english



    .elementary 小学６年生
    .subject-section
        = render 'commons/answer_box', answers: @grade6_answers_japanese
        = render 'commons/answer_box', answers: @grade6_answers_math
        = render 'commons/answer_box', answers: @grade6_answers_history
        = render 'commons/answer_box', answers: @grade6_answers_geography
        = render 'commons/answer_box', answers: @grade6_answers_civics
        = render 'commons/answer_box', answers: @grade6_answers_science
    .elementary 小学５年生
    .subject-section
        = render 'commons/answer_box', answers: @grade5_answers_japanese
        = render 'commons/answer_box', answers: @grade5_answers_math
        = render 'commons/answer_box', answers: @grade5_answers_history
        = render 'commons/answer_box', answers: @grade5_answers_geography
        = render 'commons/answer_box', answers: @grade5_answers_civics
        = render 'commons/answer_box', answers: @grade5_answers_science
    .elementary 小学４年生
    .subject-section
        = render 'commons/answer_box', answers: @grade4_answers_japanese
        = render 'commons/answer_box', answers: @grade4_answers_math
        = render 'commons/answer_box', answers: @grade4_answers_history
        = render 'commons/answer_box', answers: @grade4_answers_geography
        = render 'commons/answer_box', answers: @grade4_answers_civics
        = render 'commons/answer_box', answers: @grade4_answers_science
    .elementary 小学生共通
    .subject-section
        = render 'commons/answer_box', answers: @el_answers_japanese
        = render 'commons/answer_box', answers: @el_answers_math
        = render 'commons/answer_box', answers: @el_answers_history
        = render 'commons/answer_box', answers: @el_answers_geography
        = render 'commons/answer_box', answers: @el_answers_civics
        = render 'commons/answer_box', answers: @el_answers_science