-if answers.empty?
-else
    -answers.each do |answer|
        =link_to answer_path(answer),class: "grade col-sm-3 col-6" do
            -if answer.subject === "japanese"
                .answer-item.red
                    =I18n.t("enum.subjects.#{answer.subject}")
                .red
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .red
                    =answer.title
            -elsif answer.subject === "math"
                .answer-item.blue
                    =I18n.t("enum.subjects.#{answer.subject}")
                .blue
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .blue
                    =answer.title
            -elsif answer.subject === "history"
                .answer-item.green1
                    =I18n.t("enum.subjects.#{answer.subject}")
                .green1
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .green1
                    =answer.title
            -elsif answer.subject === "geography"
                .answer-item.green2
                    =I18n.t("enum.subjects.#{answer.subject}")
                .green2
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .green2
                    =answer.title
            -elsif answer.subject === "civics"
                .answer-item.green3
                    =I18n.t("enum.subjects.#{answer.subject}")
                .green3
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .green3
                    =answer.title
            -elsif answer.subject === "science"
                .answer-item.orange
                    =I18n.t("enum.subjects.#{answer.subject}")
                .orange
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .orange
                    =answer.title
            -elsif answer.subject === "english"
                .answer-item.purple
                    =I18n.t("enum.subjects.#{answer.subject}")
                .purple
                    =I18n.t("enum.grades.#{answer.grade}")                
                    =I18n.t("enum.textbooks.#{answer.textbook}")
                .purple
                    =answer.title